.movie-section {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0px;
  color: #ffffff;
  font-weight: 400;
  width: 90%;
}

.movie-rating {
  display: flex;
  padding-left: 30px;
  margin-top: 20px;
  color: #79b8f3;
}

.section-right {
  height: 100%;
  width: 100%;
  margin: 30px;
}
span {
  margin-right: 20px;
}
.movie-title {
  font-size: 40px;
  columns: #ffffff;
}
.movie-plot {
  margin-top: 20px;
  line-height: 1.8rem;
}

.movie-info > div span:first-child {
  padding: 10px 0px;
  color: #ffffff;
  font-weight: 600;
  width: 100px;
  display: inline-block;
}
.movie-info > div span {
  color: #79b8f3;
}
.star{
    color: #ff9e00;
}
.thumbs-up{
    color: #fafaff;
}
.fill{
    color: rgba(191,211,234);
}
.calender{
    color: peachpuff;
}
.section-left{
  margin-left:60px;
}
